In [1]:
import numpy as np
import pandas as pd
import sklearn
import xlrd
import matplotlib.pylab as py
import nltk as nltk
import textblob as textblob
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

%matplotlib inline

In [2]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [4]:
#importing the excell file. make sure it is uploaded in the same folder as the notebook. 

PrimaryEmotion = pd.read_csv('emotion.xls.csv')
PrimaryEmotion

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,emotion,emotion:confidence,emotion_gold,id,idiom_id,sentence
0,731671736,False,finalized,5,6/8/15 16:10,Neutral,0.3333,NaN,1,1,How much of the forecast was genuine and how m...
1,731671737,False,finalized,5,6/12/15 14:33,Neutral,0.3885,NaN,2,2,I did touch them one time you see but of cours...
2,731671738,False,finalized,5,6/8/15 16:10,Neutral,0.3333,NaN,3,3,We find that choice theorists admit that they ...
3,731671739,False,finalized,5,6/8/15 16:30,Neutral,0.3690,NaN,4,4,"Well, here I am with an olive branch."
4,731671740,False,finalized,5,6/8/15 16:30,Neutral,0.5572,NaN,5,5,"Its rudder and fin were both knocked out, and ..."
5,731671741,False,finalized,5,6/12/15 14:27,Anger,0.6250,NaN,6,6,Over my dead body are you arresting him.
6,731671742,False,finalized,5,6/8/15 16:30,Neutral,0.3358,NaN,7,7,"Don't let him pick a fight now, we're almost h..."
7,731671743,False,finalized,5,6/8/15 15:47,Neutral,0.3571,NaN,8,8,He's a good fighter but there are certain poin...
8,731671744,False,finalized,5,6/12/15 14:30,Optimism,0.6115,NaN,10,10,Aggie finally found the cat a good home and fr...
9,731671745,False,finalized,5,6/12/15 14:35,Neutral,0.2083,NaN,12,12,She left the citizens of Riverbank to their sh...
10,731671746,False,finalized,5,6/8/15 16:23,Optimism,0.2000,NaN,13,13,You must sink your differences.
11,731671747,False,finalized,5,6/12/15 14:23,Disgust,0.2158,NaN,14,14,"Brian, as ever, decided not to sit on the fence."
12,731671748,False,finalized,5,6/12/15 14:35,Neutral,0.2158,NaN,16,16,This is turning into one of those mediaeval di...
13,731671749,False,finalized,5,6/8/15 16:23,Sadness,0.2000,NaN,17,17,"So, you know, whilst I'm a little bit reluctan..."
14,731671750,False,finalized,5,6/8/15 16:23,Neutral,0.4000,NaN,18,18,"In 1978, in an attempt to wipe the slate clean..."
15,731671751,False,finalized,5,6/8/15 16:16,Sadness,0.4000,NaN,20,20,Doctors who tried to help the wounded were cau...
16,731671752,False,finalized,5,6/8/15 15:47,Optimism,0.4286,NaN,21,21,"I think we need a meeting to get it laid down,..."
17,731671753,False,finalized,5,6/8/15 16:16,Neutral,0.6000,NaN,22,22,"Hitler, of course, was dead set against a war ..."
18,731671754,False,finalized,5,6/12/15 14:23,Anticipation,0.3957,NaN,23,23,"Well, what about the view, let me kind of play..."
19,731671755,False,finalized,5,6/8/15 16:10,Aggression,0.7778,NaN,24,24,We'd fight like cat and dog.
20,731671756,False,finalized,5,6/12/15 14:23,Anger,0.3957,NaN,26,26,"They were always at it, hammer and tongs you k..."
21,731671757,False,finalized,5,6/8/15 16:30,Optimism,0.2214,NaN,27,27,Er we've all got to be friends in this situati...
22,731671758,False,finalized,5,6/12/15 14:30,Submission,0.3525,NaN,28,28,"For Lisa's sake, for Celia's sake, perhaps it ..."
23,731671759,True,golden,22,6/8/15 16:10,Love,0.6284,Aggression\nAnger\nAwe\nContempt\nDisapproval\...,29,29,Here we are at loggerheads with the rival prac...
24,731671760,False,finalized,5,6/8/15 16:30,Anticipation,0.5904,NaN,30,30,Rugby league's deadliest rivals lock horns in ...
25,731671761,False,finalized,5,6/12/15 14:33,Surprise,0.2158,NaN,31,31,"For a brother and sister act, there was certai..."
26,731671762,False,finalized,5,6/12/15 14:23,Contempt,0.3525,NaN,32,32,Trust a woman to make a mountain out of a mole...
27,731671763,False,finalized,5,6/12/15 14:30,Neutral,0.6115,NaN,33,33,Is that much ado about nothing really?
28,731671764,False,finalized,5,6/12/15 14:30,Neutral,0.5833,NaN,34,34,"Well, you weren't gonna argue the toss."
29,731671765,False,finalized,5,6/8/15 16:23,Sadness,0.2000,NaN,35,35,"Then, in 1981, all hell broke loose in the Cam..."
...,...,...,...,...,...,...,...,...,...,...,...
2494,731674230,False,finalized,5,6/14/15 8:56,Disapproval,0.4245,NaN,5865,483,It was bad enough having to admit that the APT...
2495,731674231,False,finalized,5,6/10/15 23:28,Contempt,0.6056,NaN,5874,492,"With the smallest fall from grace, it is quick..."
2496,731674232,False,finalized,5,6/10/15 13:41,Joy,0.6073,NaN,5881,499,April 1992 saw the car completed and it passed...
2497,731674233,False,finalized,5,6/14/15 18:50,Optimism,1.0000,NaN,5897,515,The women's confidence increased by leaps and ...
2498,731674234,False,finalized,5,6/9/15 14:20,Optimism,0.5591,NaN,5900,518,Of course medicine has come a long way since t...
2499,731674235,False,finalized,5,6/10/15 0:25,Sadness,0.4067,NaN,5904,522,Carol found herself wishing that Fred could ma...
2500,731674236,False,finalized,5,6/12/15 5:57,Optimism,0.8114,NaN,5908,526,They were well aware that large scale investme...
2501,731674237,False,finalized,5,6/11/15 21:12,Optimism,0.2174,NaN,5911,529,There was a moment of truth.\n
2502,731674238,False,finalized,5,6/11/15 13:28,Neutral,1.0000,NaN,5917,535,Both residential preferences and government po...
2503,731674239,False,finalized,5,6/14/15 15:33,Anger,0.6088,NaN,5919,537,"Oh, pack it in, this is serious."
2504,731674240,False,finalized,5,6/9/15 14:16,Neutral,0.4226,NaN,5925,543,Sometimes the rags to riches progress of a dis...
2505,731674241,False,finalized,5,6/10/15 0:25,Anticipation,0.6316,NaN,5926,544,By this stage Labour should have been riding h...
2506,731674242,False,finalized,8,6/10/15 12:46,Disapproval,0.6338,NaN,5927,545,It didn't seem to rise to the occasion.
2507,731674243,False,finalized,5,6/9/15 14:49,Submission,0.3884,NaN,5931,549,A case of sink or swim.
2508,731674244,False,finalized,5,6/14/15 19:56,Disapproval,0.2151,NaN,5938,556,Ann thinks he wants to be top dog in Pinner.
2509,731674245,False,finalized,5,6/12/15 14:45,Fear,0.3915,NaN,5943,561,So it was the dreaded wooden spoon for the Irish.
2510,731674246,False,finalized,6,6/10/15 20:53,Joy,0.6802,NaN,5946,564,"Well, there was a time when it was a bolt from..."
2511,731674247,False,finalized,5,6/14/15 18:52,Surprise,0.6039,NaN,5947,565,"But before I had finished this wearisome task,..."
2512,731674248,False,finalized,7,6/10/15 12:54,Surprise,0.7059,NaN,5952,570,An American is standing in an Oxford quadrangl...
2513,731674249,False,finalized,5,6/11/15 5:40,Surprise,0.7891,NaN,5956,574,"Suddenly, lo and behold, what should they see ..."
2514,731674250,False,finalized,5,6/9/15 14:14,Anger,0.3570,NaN,5959,577,"Lorne stood rooted to the spot, squinting furi..."
2515,731674251,False,finalized,5,6/11/15 1:48,Neutral,0.3705,NaN,5962,580,School dinner lady Christine Aspland was paral...
2516,731674252,False,finalized,5,6/11/15 21:28,Anger,0.4582,NaN,5971,589,"We were both rigid as enemies, longing to come..."
2517,731674253,False,finalized,5,6/14/15 17:17,Disapproval,0.6015,NaN,5974,592,"We wouldn't wish to do that, but nor would we ..."
2518,731674254,False,finalized,5,6/11/15 3:42,Anticipation,0.3977,NaN,5977,595,But in the next move tit for tat retaliates.
2519,731674255,False,finalized,5,6/10/15 21:20,Neutral,0.4450,NaN,5978,44,By this point some of my readers will be up in...
2520,731674256,False,finalized,5,6/10/15 23:36,Neutral,0.7879,NaN,5980,597,Members of that nobility had been prominent in...
2521,733581007,False,finalized,5,6/9/15 14:23,Fear,0.4409,NaN,379,379,He did his best to paper over the cracks.
2522,733581276,False,finalized,5,6/10/15 3:06,Disapproval,0.3713,NaN,986,388,Heavy dependence on sponsorship and arts counc...
2523,733582393,False,finalized,5,6/11/15 21:30,Joy,0.6869,NaN,2651,259,"In 1987, when I was chosen to fight my first e..."

In [5]:
#subsetting the data, we now have a dataframe of just the emotion and the sentences. 

ProjectData = PrimaryEmotion[['emotion','sentence']]
ProjectData.head()

,emotion,sentence
0,Neutral,How much of the forecast was genuine and how m...
1,Neutral,I did touch them one time you see but of cours...
2,Neutral,We find that choice theorists admit that they ...
3,Neutral,"Well, here I am with an olive branch."
4,Neutral,"Its rudder and fin were both knocked out, and ..."

In [6]:
ProjectData.emotion.unique()

array(['Neutral', 'Anger', 'Optimism', 'Disgust', 'Sadness',
       'Anticipation', 'Aggression', 'Submission', 'Love', 'Surprise',
       'Contempt', 'Disapproval', 'Remorse', 'Ambiguous', 'Fear', 'Joy',
       'Awe', 'Trust'], dtype=object)

In [7]:
# In this first step I am changing all the words to lower case. Haven't figured out this error later
ProjectData['sentence'] = ProjectData['sentence'].apply(lambda x: " ".join(x.lower() for x in x.split()))
ProjectData.head()

/ext/sage/sage-8.3_1804/local/lib/python2.7/site-packages/sage/repl/ipython_kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sage.repl.ipython_kernel.kernel import SageKernel

,emotion,sentence
0,Neutral,how much of the forecast was genuine and how m...
1,Neutral,i did touch them one time you see but of cours...
2,Neutral,we find that choice theorists admit that they ...
3,Neutral,"well, here i am with an olive branch."
4,Neutral,"its rudder and fin were both knocked out, and ..."

In [8]:
# In this line I am removing punctuation.
ProjectData['sentence'] = ProjectData['sentence'].str.replace('[^\w\s]','')

ProjectData.head()

/ext/sage/sage-8.3_1804/local/lib/python2.7/site-packages/sage/repl/ipython_kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sage.repl.ipython_kernel.kernel import SageKernel

,emotion,sentence
0,Neutral,how much of the forecast was genuine and how m...
1,Neutral,i did touch them one time you see but of cours...
2,Neutral,we find that choice theorists admit that they ...
3,Neutral,well here i am with an olive branch
4,Neutral,its rudder and fin were both knocked out and a...

In [9]:
# Now I remove stop words.
# Note that I used a package that has predefined "stopwords" you can google the package "nltk stopwords list" to see which words are in the list. This is something we could edit to whatever we want. 

from nltk.corpus import stopwords

stop = stopwords.words('english')

ProjectData['sentence'] = ProjectData['sentence'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

ProjectData.head()

/ext/sage/sage-8.3_1804/local/lib/python2.7/site-packages/sage/repl/ipython_kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,emotion,sentence
0,Neutral,much forecast genuine much fixed moot point
1,Neutral,touch one time see course nothing wanted
2,Neutral,find choice theorists admit introduce style mo...
3,Neutral,well olive branch
4,Neutral,rudder fin knocked fourfootlong gash shell mea...

In [10]:
# As we know, several of our sentences contain some numeric values, which doesn't work well with what we are trying to do. So I'm going to change them to their character equilivant. For example, "1975" will become *ninteen seventy five".
# First I am creating a new column which counts how many elements in a sentence are numeric. 

#ProjectData['numerics'] = ProjectData['sentence'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
#ProjectData[['emotion','sentence','numerics']].head()

In [11]:
# This block of code creates a subset of the data which includes each row with a numeric element. As you can see there are over 90 rows. 
#numerics = (ProjectData.loc[ProjectData['numerics'] > 0])
#numerics

In [12]:
#ProjectData['sentence'].replace(to_replace = '1978', value = 'ninteen seventy eight', )

In [13]:
# This block finds the lemma of each word. 
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

ProjectData['sentence'] = ProjectData['sentence'].apply(lemmatizer.lemmatize)

ProjectData.head()

/ext/sage/sage-8.3_1804/local/lib/python2.7/site-packages/sage/repl/ipython_kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,emotion,sentence
0,Neutral,much forecast genuine much fixed moot point
1,Neutral,touch one time see course nothing wanted
2,Neutral,find choice theorists admit introduce style mo...
3,Neutral,well olive branch
4,Neutral,rudder fin knocked fourfootlong gash shell mea...

In [14]:
# Here we tokenize the data "ProjectData"
# Not yet sure how to fix the error...
ProjectData['sentence'] = ProjectData['sentence'].apply(word_tokenize)

/ext/sage/sage-8.3_1804/local/lib/python2.7/site-packages/sage/repl/ipython_kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  IPKernelApp.launch_instance(kernel_class=SageKernel)

In [15]:
# What our dataframe currently looks like. 
ProjectData.head()

,emotion,sentence
0,Neutral,"[much, forecast, genuine, much, fixed, moot, p..."
1,Neutral,"[touch, one, time, see, course, nothing, wanted]"
2,Neutral,"[find, choice, theorists, admit, introduce, st..."
3,Neutral,"[well, olive, branch]"
4,Neutral,"[rudder, fin, knocked, fourfootlong, gash, she..."

In [43]:
Optimism1 = (ProjectData.loc[ProjectData['emotion'] == 'Optimism'])
Optimism1.head()

,emotion,sentence
8,Optimism,"[aggie, finally, found, cat, good, home, day, ..."
10,Optimism,"[must, sink, differences]"
16,Optimism,"[think, need, meeting, get, laid, need, meetin..."
21,Optimism,"[er, weve, got, friends, situation, let, bygon..."
34,Optimism,"[uk, good, books, european, space, agency]"

In [45]:
Optimism2 = ProjectData.loc[['Optimism', 'Anticipation', 'Joy'], 'emotion'])
Optimism2.head()

SyntaxError: invalid syntax (<ipython-input-45-b4178e176cb5>, line 1)

In [18]:
#OptimismWords = Optimism1['sentence']

In [19]:
#Optimism1.emotion.unique()

In [20]:
# Start with one review:
#text = "preface. Changes for seventh edition. in the preparation of this seventh edition, our goal has remained steadfast: to produce an outstanding text in mathematical statistics. in this new edition, we have added examples and exercises to help clarify the exposition. for the smae reason, we have moved some material forward. for example, we moved the discussion on some properties of linear combinations of random variables from chapter 4 to chapter 2."

# Create and generate a word cloud image:
#wordcloud = WordCloud().generate(text)
#plt.imshow(wordcloud, interpolation='bilinear')
#plt.axis("off")
#plt.show()

In [21]:

#Optimism1 = (ProjectData.loc[ProjectData['emotion'] == 'Optimism'])
#Optimism1.head()

In [22]:
#ProjectData.loc[8,:]
#Optimism1 = (ProjectData.loc[ProjectData['emotion'] == 'Optimism'])
#Optimism1.head()
#WordCloud.generate(str(Optimism1['sentence']))

#text = Optimism1['sentence']

# Create and generate a word cloud image:
#wordcloud = WordCloud.generate(text)

# Display the generated image:
#plt.imshow(wordcloud, interpolation='bilinear')
#plt.axis("off")
#plt.show()